<p>
  <strong>Nome do Bicho:</strong>
  <%= @success_story.pet_name %>
</p>

<p>
  <strong>Dono:</strong>
  <%= @success_story.owner %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @success_story.photo %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @success_story.description %>
</p>

<%= link_to 'Editar', edit_success_story_path(@success_story) %> |
<%= link_to 'Voltar', success_stories_path %>
