<%= form_with(model: teammate, local: true) do |form| %>
  <% if teammate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teammate.errors.count, "error") %> prohibited this teammate from being saved:</h2>

      <ul>
      <% teammate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo %>
  </div>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_field :nickname %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
